<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="CONN_STR" value="Data Source=wassim\INSTANCE_2K14_1;Database=ecommerce;User ID=sa;Password=sapassword"/>
		<add key="BLC_PATH" value="E:\uni project\wassimBackEndEcommerce-\ecommerce\App\BLC\bin\Debug\netcoreapp3.1\BLC.dll"/>
		<add key="USER_ID" value="WAS-HUS"/>
		<add key="PWD" value="2348wwAAA24273"/>
		<add key="SERVICE_CODE" value="C3"/>
		<add key="UPLOAD_DOCUMENT_LOCATION" value="E:\uni project\wassimBackEndEcommerce-\ecommerce\App\WebAPI\Files\Uploaded"/>
		<add key="WEB_PATH" value="https://localhost:44358/api/Data"/>
	</appSettings>
</configuration>