<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="CONN_STR" value="Data Source=MALEK\INSTANCE_2K14_01;Database=ecommerce;User ID=sa;Password=sapassword"/>
		<add key="BLC_PATH" value="D:\wassim uni project\ecommerce\App\Sln_ecommerce\BLC\bin\Debug\netcoreapp3.1\BLC.dll"/>
		<add key="USER_ID" value="ABD-DAN"/>
		<add key="PWD" value="13415wwBAA142712"/>
		<add key="SERVICE_CODE" value="C4"/>
		<add key="UPLOAD_DOCUMENT_LOCATION" value="D:\wassim uni project\ecommerce\App\WebAPI\Files\Uploaded\"/>
		<add key="WEB_PATH" value="https://localhost:5001/api/Data"/>



	</appSettings>
</configuration>