<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="CONN_STR" value="Data Source=WASSIM\INSTANCE_2K14_1;Database=ecommerce;User ID=sa;Password=sapassword"/>
		<add key="BLC_PATH" value="G:\uni project\wassimBackEndEcommerce-\ecommerce\App\BLC\bin\Debug\netcoreapp3.1\BLC.dll"/>
		<add key="USER_ID" value="WAS-HUS"/>
		<add key="PWD" value="11411wwAAA84285"/>
		<add key="SERVICE_CODE" value="C3"/>
		
	</appSettings>
</configuration>